<html>
  <body>
    <table>
      <tr>
        <td>Nama</td>
        <td>:</td>
        <td>Risqullah Fani Fadhilrif'at</td>
      </tr>
      <tr>
        <td>Tempat / Tanggal lahir</td>
        <td>:</td>
        <td>Batu / 02 Oktober 2002</td>
      </tr>
      <tr>
        <td>Alamat</td>
        <td>:</td>
        <td>Perum Puri Indah G3 No. 03, Oro - Oro Ombo, Batu, Kota Batu, Jawa Timur</td>
      </tr>
      <tr>
        <td>Jenis Kelamin</td>
        <td>:</td>
        <td>Laki - Laki</td>
      </tr>
      <tr>
        <td>Pekerjaan</td>
        <td>:</td>
        <td>Pelajar / Mahasiswa</td>
      </tr>
      <tr>
        <td>Tempat Pekerjaan</td>
        <td>:</td>
        <td>Universitas Merdeka Malang</td>
      </tr>
    </table>
  </body>
</html>